<!--书的名字 价格 线上封面-->
<div>
    <div class="panel panel-success text-center">
        <div class="panel-heading">
            <span ng-show="flag">{{book.bookName}}</span>
            <input type="text" ng-model="tmpl.bookName"  ng-hide="flag"/>
        </div>
        <div class="panel-body">
            <img ng-src="{{book.bookCover}}" style="width:200px;height:200px"
                 alt=""/>
        </div>
        <div class="panel-footer">
            <!-- /detail/1 -->
            价格：<span ng-show="flag">{{book.bookPrice}}</span>
            <input type="text" ng-model="tmpl.bookPrice" ng-hide="flag"/>
            <button class="btn btn-warning" ng-show="flag" ng-click="changeState()">修改</button>
            <button class="btn btn-danger" ng-click="remove()" ng-show="flag">删除</button>

            <button class="btn btn-success" ng-hide="flag" ng-click="updata()">确认</button>
            <button class="btn btn-default" ng-hide="flag" ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
